<!-- <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://img.icons8.com/bubbles/512/note.png" alt="Logo" width="150" height="150" class="d-inline-block align-text-top">
      My To-Do List
    </a>
    <a class="navbar-brand" routerLink="/about">
      <img src="https://img.icons8.com/bubbles/512/note.png" alt="Logo" width="150" height="150" class="d-inline-block align-text-top"> -->
      <!-- About
    </a>
  </div>
</nav>  -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/">
      <img src="https://img.icons8.com/bubbles/512/note.png" alt="Logo" width="100" height="100" class="d-inline-block align-text-top">
    </a>
    <!-- <a class="navbar-brand" aria-current="page" href="/about">PTM</a> -->
     <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
          <a class="navbar-brand" aria-current="page" href="/about-component">About</a>
     </div> 
     
  </div>
</nav>
  <h1 class="text-center my-1">P T M</h1>
  <h3 class="text-center my-2"> Personal Task Manager</h3>

<div>
<!-- <app-todos></app-todos> -->
<router-outlet></router-outlet>
</div>